<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
  </head>

  <body>
    <h1 style="text-align:center">How Does This Work?</h1>
    <h4 style="text-align:center">Go back <a href={{ url_for('index') }}>link</a> here</h4>
    <p style="text-align:center; width: 50%; margin: 0 auto">
      When you see a 'x' next to the name, it means they are done with that part.
      Based on the table, Ali has finished and is in Burrill 124. Ben is done and is
      either waiting in FLB 1118 or walking to Burrill 124. Lara finished
      part 6 (Geber) and is going/at part 7. Andrea finished part 3 (Saturn) and Shuja
      just left to start initiation. Emilia is next to go.
    </p>
    <br>
    <table border="1">
      <tr>
        <td class="alternate1" style="text-align:center"> - Name -</td>
        <td style="text-align:center">Leaving Lcln 1090</td>
        <td style="text-align:center">Part 1 - FLB 1040</td>
        <td style="text-align:center">Part 2 - FLB 1046</td>
        <td style="text-align:center">Part 3 - FLB 1048</td>
        <td style="text-align:center">Part 4 - FLB G18</td>
        <td style="text-align:center">Part 5 - FLB G20</td>
        <td style="text-align:center">Part 6 - FLB G24</td>
        <td style="text-align:center">Part 7 - FLB G30</td>
        <td style="text-align:center">Part 8 - FLB G36</td>
        <td style="text-align:center">Done - Burrill 124</td>
      </tr>

      <tr>
          <td>Ali Hasan</td>
          <td style="text-align:center" id="Ali_Hasan_0">x</td>
          <td bgcolor="#FFFFFF" style="text-align:center" id="Ali_Hasan_1">x</td>
          <td style="text-align:center" id="Ali_Hasan_2">x</td>
          <td style="text-align:center" id="Ali_Hasan_3">x</td>
          <td style="text-align:center" id="Ali_Hasan_4">x</td>
          <td style="text-align:center" id="Ali_Hasan_5">x</td>
          <td style="text-align:center" id="Ali_Hasan_6">x</td>
          <td style="text-align:center" id="Ali_Hasan_7">x</td>
          <td style="text-align:center" id="Ali_Hasan_8">x</td>
          <td style="text-align:center" id="Ali_Hasan_9">x</td>
      </tr>
      <tr>
          <td>Ben Rickenbaugh</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_0">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_1">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_2">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_3">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_4">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_5">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_6">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_7">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_8">x</td>
          <td style="text-align:center" id="Ben_Rickenbaugh_9"></td>
      </tr>
      <tr>
          <td>Lara Iriarte</td>
          <td style="text-align:center" id="Lara_Iriarte_0">x</td>
          <td style="text-align:center" id="Lara_Iriarte_1">x</td>
          <td style="text-align:center" id="Lara_Iriarte_2">x</td>
          <td style="text-align:center" id="Lara_Iriarte_3">x</td>
          <td style="text-align:center" id="Lara_Iriarte_4">x</td>
          <td style="text-align:center" id="Lara_Iriarte_5">x</td>
          <td style="text-align:center" id="Lara_Iriarte_6">x</td>
          <td style="text-align:center" id="Lara_Iriarte_7"></td>
          <td style="text-align:center" id="Lara_Iriarte_8"></td>
          <td style="text-align:center" id="Lara_Iriarte_9"></td>
      </tr>
      <tr>
          <td>Andrea Krieter</td>
          <td style="text-align:center" id="Andrea_Krieter_0">x</td>
          <td style="text-align:center" id="Andrea_Krieter_1">x</td>
          <td style="text-align:center" id="Andrea_Krieter_2">x</td>
          <td style="text-align:center" id="Andrea_Krieter_3">x</td>
          <td style="text-align:center" id="Andrea_Krieter_4"></td>
          <td style="text-align:center" id="Andrea_Krieter_5"></td>
          <td style="text-align:center" id="Andrea_Krieter_6"></td>
          <td style="text-align:center" id="Andrea_Krieter_7"></td>
          <td style="text-align:center" id="Andrea_Krieter_8"></td>
          <td style="text-align:center" id="Andrea_Krieter_9"></td>
      </tr>
      <tr>
          <td>Shuja Hussain</td>
          <td style="text-align:center" id="Shuja_Hussain_0">x</td>
          <td style="text-align:center" id="Shuja_Hussain_1"></td>
          <td style="text-align:center" id="Shuja_Hussain_2"></td>
          <td style="text-align:center" id="Shuja_Hussain_3"></td>
          <td style="text-align:center" id="Shuja_Hussain_4"></td>
          <td style="text-align:center" id="Shuja_Hussain_5"></td>
          <td style="text-align:center" id="Shuja_Hussain_6"></td>
          <td style="text-align:center" id="Shuja_Hussain_7"></td>
          <td style="text-align:center" id="Shuja_Hussain_8"></td>
          <td style="text-align:center" id="Shuja_Hussain_9"></td>
      </tr>
      <tr>
          <td>Emilia Pieta</td>
          <td style="text-align:center" id="Emilia_Pieta_0"></td>
          <td style="text-align:center" id="Emilia_Pieta_1"></td>
          <td style="text-align:center" id="Emilia_Pieta_2"></td>
          <td style="text-align:center" id="Emilia_Pieta_3"></td>
          <td style="text-align:center" id="Emilia_Pieta_4"></td>
          <td style="text-align:center" id="Emilia_Pieta_5"></td>
          <td style="text-align:center" id="Emilia_Pieta_6"></td>
          <td style="text-align:center" id="Emilia_Pieta_7"></td>
          <td style="text-align:center" id="Emilia_Pieta_8"></td>
          <td style="text-align:center" id="Emilia_Pieta_9"></td>
      </tr>
    </table>
  </body>
</html>
